name: Gercek Deploy Islemi

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted  # Senin evdeki sunucu

    steps:
    # 1. Kodlari GitHub'dan sunucuya cek
    - name: Kodu Cek
      uses: actions/checkout@v3

    # 2. Eski konteyner varsa durdur ve sil (Hata vermesin diye || true ekledik)
    - name: Temizlik Yap
      run: |
        docker stop my-web-app || true
        docker rm my-web-app || true

    # 3. Yeni Docker imajini insa et (Build)
    - name: Build Al
      run: docker build -t burak-app:v1 .

    # 4. Yeni uygulamayi ayaga kaldir (Run)
    - name: Yayina Al (Deploy)
      run: |
        docker run -d \
        --name my-web-app \
        -p 5050:5000 \
        --restart always \
        burak-app:v1